<!DOCTYPE html>
<html lang="pt-br">
<head>
    
    <meta charset="UTF-8">
    
    {% block head %}
        <title>RPG</title>
    {% endblock %}
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="https://thumbnail.imgbin.com/23/17/4/imgbin-minato-namikaze-rasengan-goku-naruto-uzumaki-goku-KymRjeh2XZ4FPeP5e7bXdZ8CT_t.jpg" type="img/x-icon">
</head>
<body>
    <header>
        <div class="links">
            <a href="/" class="active">Classes</a>
            <a href="/portfolio" >Players</a>
        </div>
    
    </header>
    {% block content %}{%endblock%}
</body>
</html>

