{%extends "layout.njk" %}

{% block content %}
<div class="card">
    <section class="avatar" ></section>
    <section class="details">
        <h3>Warrior</h3>
            <div class="item">
                <div><h4>Armas</h4></div>
                    <div>
                        <span>Machados,</span>
                        <span>espadas,</span>
                        <span>lanças</span>
                    </div>
            </div>
            <div class="item">
                <div><h4>Spec</h4></div>
                <div>Dps, Tank</div>
            </div>
            <div class="item">
                <div><h4>Recursos</h4></div>
                    <div>
                        <span>Saúde</span>
                        <span>raiva</span>
                    </div>               
            </div>
            <div class="item">
                <div><h4>Tipos de Armaduras</h4></div>
                    <div>
                        <span>Placas,</span>
                        <span>Escudo</span>
                    </div>               
            </div>
            <div class="item">
                <div><h4>Disponível</h4></div>
                    <div>
                        <span>Desde</span>
                        <span>01/01/2019</span>
                    </div>               
            </div>
    </section>
</div>

{% endblock content %}